<li class="user">
  <div class="user-inner">
    <div class="user-data">
      <% if profiles_enabled? %>
        <%= link_to user do %>
          <%= render :partial => 'users/user_inner', :locals => {:user => user}  %>
        <% end %>
      <% else %>
        <%= link_to github_profile_for(user), class: "user-link" do %>
          <%= render :partial => 'users/user_inner', :locals => {:user => user}  %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>