<div class="user pure-u-1-2">
  <div class="user-inner">
    <div class="user-data">
      <%= gravatar_for(user, :size => 75) %>
      <h2 class="user-name">
        <%= user.name %>
      </h2>
    </div>
    <div class="user-meta">
    </div>
  </div>
</div>