// Variables and Mixins
$max-width: 1080px;
$min-width: 720px;
$image-size: 190px;

// Typography
@font-face {
    font-family: 'ChatypeB2.1BoldBold';
    src: font-url('chatypeb2.1bold-webfont.eot');
    src: font-url('chatypeb2.1bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1bold-webfont.woff') format('woff'),
         font-url('chatypeb2.1bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1MediumMedium';
    src: font-url('chatypeb2.1medium-webfont.eot');
    src: font-url('chatypeb2.1medium-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1medium-webfont.woff') format('woff'),
         font-url('chatypeb2.1medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1RegularRegular';
    src: font-url('chatypeb2.1regular-webfont.eot');
    src: font-url('chatypeb2.1regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1regular-webfont.woff') format('woff'),
         font-url('chatypeb2.1regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Body
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", sans-serif;
}

// Content
.content {
  font-size: 16pt;
  margin-bottom: 150px;
}

// Header
.header {
  text-align: center;
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  margin-top: 35px;

  @media screen and (max-width: 660px) {
    min-width: 0;
    margin-top: 0px;
  }

  a {
    color: #575F5F;
    text-decoration: none;
  }

  .header-title {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 53pt;
    font-family: 'ChatypeB2.1BoldBold';
    line-height: 1;
    padding: 30px 0 0;

    @media screen and (max-width: 660px) {
      font-size: 36pt;
    }
  }

  .nav {
    list-style: none;
    padding: 2px;
    font-size: 14pt;

    li {
      padding-right: 15px;
      display: inline-block;

      a.selected {
        border-bottom: 3px solid #868f94;
      }

      a:hover {
        border-bottom: 3px solid #868f94;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: black;
  color: white;
  margin-top: 50px;

  .nav {
    list-style: none;

    li {
      float: left;
      padding: 15px 0;
      margin: 0 20px 0 0;
      color: #666;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  #byline {
    float: right;
    padding-right: 10px;
    font-size: 14px;

    @media screen and (max-width: 660px) {
      display: none;
    }

    a {
      color: #bfbfbf;
      // text-decoration: none;
    }
  }
}

// User
.users-list {
  list-style: none;
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
  padding: 0 0 80px 0;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    min-width: 0;
  }

  .user {
    text-align: center;
    width: 20%;
    position: relative;
    float: left;
    margin-bottom: 15px;

    @media screen and (max-width: 1024px) {
      width: 25%;
    }

    @media screen and (max-width: 660px) {
      width: 100%;
    }

    .user-data {
      text-align: center;

      a {
        text-decoration: none;
      }

      .user-info {
        opacity: 0;
        padding: 2px 0;
        position: relative;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        transition: opacity .25s ease-in-out;
        text-decoration: none;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;

        .user-info-name {
          color: #2C2C2C;
          font-size: 16pt;

          @media screen and (max-width: 1024px) {
            font-size: 14pt;
          }
        }
      }

      .user-link:hover {
        .user-info {
          opacity: 1;
        }
      }
    }

    .user-meta {

      .skills {
        list-style: none;
      }
    }
  }
}

// Profile

.profile {

  .profile-title {

    .profile-name {
      font-size: 50px;
      padding-left: 10px;

      a {
        color: black;
        text-decoration: none;
        vertical-align: top;
      }
    }
  }
}

.wrapper {
  max-width: 1080px;
  min-width: 720px;
  margin: 0 auto;
}

// Misc.

.gravatar {
  border-radius: 2px;
}

.pull-right {
  float: right;
}

.pure-button {
  color: white;
  font-size: 14pt;
}

.pure-button-error {
  background: rgb(202, 60, 60);
}

.pure-button-primary {
  background: #0e90d2;
}

.pure-button-accent {
  background: rgb(128, 88, 165);
}

.pure-button-info {
  background: #5eb95e;
}

.pure-button-danger {
  background: #dd514c;
}

.pure-button-action {
  background: rgb(243, 123, 29);
}

.pure-button-warning {
  background: rgb(250, 210, 50);
}

nav.pagination {
  display: none;
}

input[type='submit'] {
  display:block;
  margin-top:20px;
}

label{
  display: block;
  margin-top: 20px;
}
