// Variables and Mixins
$max-width: 1200px;
$min-width: 720px;

// Typography
@font-face {
    font-family: 'ChatypeB2.1BoldBold';
    src: url('chatypeb2.1bold-webfont.eot');
    src: url('chatypeb2.1bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('chatypeb2.1bold-webfont.woff') format('woff'),
         url('chatypeb2.1bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1MediumMedium';
    src: url('chatypeb2.1medium-webfont.eot');
    src: url('chatypeb2.1medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('chatypeb2.1medium-webfont.woff') format('woff'),
         url('chatypeb2.1medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1RegularRegular';
    src: url('chatypeb2.1regular-webfont.eot');
    src: url('chatypeb2.1regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('chatypeb2.1regular-webfont.woff') format('woff'),
         url('chatypeb2.1regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Body
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", sans-serif;
}

// Content

.content {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
}

// Header

.header {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  margin-top: 35px;

  a {
    // color: #7F8C8D;
    color: #575F5F;
    text-decoration: none;
  }

  .header-title {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 53pt;
    font-family: 'ChatypeB2.1BoldBold';
    line-height: 1;
    padding: 30px 0;
  }
}

// User

.users-list {
  list-style: none;
  padding-left: 0;

  .user {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;

    .user-inner {

    }

    .user-data {
      // text-align: center;

      .user-name {
        text-align: center;
        font-size: 18px;
      }
    }

    .user-meta {

      .skills {
        list-style: none;
      }
    }
  }
}

// Profile

.profile {

  .profile-title {

    .profile-name {
      font-size: 50px;
    }
  }
}

// Misc.

.gravatar {
  border-radius: 2px;
}