// Variables and Mixins
$max-width: 1200px;
$min-width: 720px;
$image-size: 190px;

// Typography
@font-face {
    font-family: 'ChatypeB2.1BoldBold';
    src: font-url('chatypeb2.1bold-webfont.eot');
    src: font-url('chatypeb2.1bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1bold-webfont.woff') format('woff'),
         font-url('chatypeb2.1bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1MediumMedium';
    src: font-url('chatypeb2.1medium-webfont.eot');
    src: font-url('chatypeb2.1medium-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1medium-webfont.woff') format('woff'),
         font-url('chatypeb2.1medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatypeB2.1RegularRegular';
    src: font-url('chatypeb2.1regular-webfont.eot');
    src: font-url('chatypeb2.1regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('chatypeb2.1regular-webfont.woff') format('woff'),
         font-url('chatypeb2.1regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Body
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", sans-serif;
}

// Content
.content {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  padding: 0 50px;

  .inner-container {
    float: left;
    width: 100%;
    padding: 0 0 75px 0;
  }
}

// Header
.header {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
  margin-top: 35px;

  a {
    color: #575F5F;
    text-decoration: none;
  }

  .header-title {
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 53pt;
    font-family: 'ChatypeB2.1BoldBold';
    line-height: 1;
    padding: 30px 0 0;
  }

  .nav {
    list-style: none;
    padding: 2px;

    li {
      padding-right: 15px;
      display: inline-block;

      a.selected {
        border-bottom: 3px solid #868f94;
      }

      a:hover {
        border-bottom: 3px solid #868f94;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: black;
  color: white;
  margin-top: 50px;

  .nav {
    list-style: none;

    li {
      float: left;
      padding: 15px 0;
      margin: 0 20px 0 0;
      color: #666;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  #byline {
    float: right;
    padding-right: 10px;
    font-size: 14px;

    a {
      color: #bfbfbf;
      // text-decoration: none;
    }
  }
}

// User
.users-list {
  list-style: none;
  padding-left: 0;

  .user {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;

    .user-data {
      text-align: center;

      .user-info {
        // display: none;
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        padding: 15px 0;
        position: absolute;
        left: 0;
        width: $image-size;
        bottom: 3px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;

        .user-info-name {
          color: white;
          text-decoration: none;
        }
      }

      .user-link:hover {

        .user-info {
          opacity: 1;
        }
      }
    }

    .user-meta {

      .skills {
        list-style: none;
      }
    }
  }
}

// Profile

.profile {

  .profile-title {

    .profile-name {
      font-size: 50px;
      padding-left: 10px;

      a {
        color: black;
        text-decoration: none;
        vertical-align: top;
      }
    }
  }

  .profile-settings {

  }
}

// Misc.

.gravatar {
  border-radius: 2px;
}

.pull-right {
  float: right;
}

.pure-button-error {
  background: rgb(202, 60, 60);
}

nav.pagination {
  display: none;
}
