<footer>
  <!-- <ul>
    <%# if current_user %>
      <li>
        <%# link_to current_user.name, current_user %>
      </li>
    <%# else %>
      <li>
        <%# link_to "Sign in through github", "/auth/github" %>
      </li>
    <%# end %>
  </ul> -->
</footer>