<div class="footer">
   <ul class="nav">
    <% if current_user %>
      <li>
        <%= link_to current_user.name, current_user %>
      </li>
    <% else %>
      <li>
        <%= link_to "+ Add yourself through Github", "/auth/github" %>
      </li>
    <% end %>
  </ul>
</div>