<header class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <%= link_to "ChattDevs", root_path, class: 'logo pure-menu-heading' %>
  <ul>
    <% if current_user %>
      <li>
        <%= link_to current_user.name, "#" %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign in through github", "/auth/github" %>
      </li>
    <% end %>
  </ul>
</header>