<div class="header">
  <%= link_to "ChattDevs", root_path, class: 'header-title' %>
  <ul class="nav">
    <li><%= link_to "Devs", root_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
    <li><a href='http://goo.gl/2pFn1p'>Calendar</a></li>
  </ul>
</div>
